
<%= link_to("<< Volver a libros", books_path) %>

<h2> Nuevo Autor</h2>

<%= form_for(@author) do |f| %>
	
	<%= render( :partial => "form", :locals => { :f => f }) %>

	<div>
		<%= f.submit("Crear Autor") %>
	</div>

<% end %>