<table summary="Section form fields">
  <tr>
    <th>Nombre</th>
    <td><%= @author.nombre %></td>
  </tr>
  <tr>
    <th>Apellido</th>
    <td><%= @author.apellido %></td>
  </tr>
  <tr>
    <th>Correo</th>
    <td><%= @author.correo %></td>
  </tr>
  <tr>
    <th>Avatar</th>
    <td>
      <%= image_tag(@author.avatar.url,
                    style: 'height:auto;width:300px;', alt: 'Avatar') if @author.avatar? %><br>
    </td>
  </tr>
</table>